  /******************************************************************

  Stylesheet: 600px以下のモニタで適用

  ******************************************************************/
  .sec-title {
    font-size: 1.5rem;
    margin-bottom: 20px;
  }

  




