/******************************************************************

Stylesheet: ベーススタイル

******************************************************************/
@charset "UTF-8";

/*
共通クラス
*/
html {
  font-size: 100%;
}
body {
  color: $cBlack;
  font-size: 0.9rem;
  line-height: 1.7;
}
a {
  color: $cBlack;
  text-decoration: none;
}
img {
  max-width: 100%;
}
li {
  list-style: none;
}
.site-title {
  line-height: 1px;
  
  & a {
    display: block;
  }
}
.sec-title {
  font-size: 2.25rem;
  margin-bottom: 30px;
  text-align: center;
}
/*-------------------------------------------
ヘッダー
-------------------------------------------*/
.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 20px 40px;
  position: fixed;
  z-index: 10;
  background-color: $cWhite;

  &__navi {
    display: block;
    position: fixed;
    top: 0;
    left: -300px;
    bottom: 0;
    width: 300px;
    color: $cWhite;
    padding: 60px 25px;
    background-color: $cBlack;
    overflow-x: hidden;
    overflow-y: auto;
    transition: all .5s;
    z-index: 20;
    opacity: 0;
    
    & a {
      color: $cWhite;
    }

    .open & {
      left: 0;
      opacity: 1;
    }
  }

  &__menu {
    margin-bottom: 60px;
    border-top: solid 1px $cWhite;

    & li {
      position: relative;
      margin: 0;
      padding: 20px 0;
      border-bottom: solid 1px $cWhite;
    }
  }

  &__sns {
    & li {
      padding: 5px 0;
    }
  }

  &__btn {
    display: block;
    position: fixed;
    top: 25px;
    right: 45px;
    width: 30px;
    height: 30px;
    transition: all .5s;
    cursor: pointer;
    z-index: 20;

    & span {
      display: block;
      position: absolute;
      left: 0;
      width: 30px;
      height: 2px;
      background-color: $cBtn;
      border-radius: 4px;
      transition: all .5s;

      &:nth-child(1) {
        top: 4px;
      }
      &:nth-child(2) {
        top: 14px;
      }
      &:nth-child(3) {
        bottom: 4px;
      }

      .open & {
        background-color: $cWhite;

        &:nth-child(1) {
          transform: translateY(10px) rotate(-315deg);
        }
        &:nth-child(2) {
          opacity: 0;
        }
        &:nth-child(3) {
          transform: translateY(-10px) rotate(315deg);
        }
      }
    }
  }
}

#mask {
  display: none;
  transition: all .5s;

  .open & {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: $cMask;
    opacity: .8;
    z-index: 10;
    cursor: pointer;
  }
}

/*-------------------------------------------
Main
-------------------------------------------*/
.main {
  padding-top: 80px;
}

/*-------------------------------------------
Video
-------------------------------------------*/
.video {
  &__bg {
    width: 100%;
  }
}

/*-------------------------------------------
Pickup
-------------------------------------------*/
.pickup {
  width: 100%;
  padding: 100px 0 50px 0;
  
  &__list {
    font-size: 0;

    li {
      padding: 0 30px;
    }
  }
}
