/******************************************************************

Stylesheet: ベーススタイル

******************************************************************/
@charset "UTF-8";

/*
共通クラス
*/
html {
  font-size: 100%;
}
body {
  color: $cBlack;
  font-size: 0.9rem;
  line-height: 1.7;
}
a {
  color: $cBlack;
  text-decoration: none;
}
img {
  max-width: 100%;
}
li {
  list-style: none;
}
.site-title {
  line-height: 1px;

  & a {
    display: block;
  }
}
/*-------------------------------------------
ヘッダー
-------------------------------------------*/
.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 20px 40px;
  position: fixed;
  z-index: 10;
  background-color: $cWhite;

}