/******************************************************************

Stylesheet: ベーススタイル

******************************************************************/
@charset "UTF-8";

/*
共通クラス
*/
html {
  font-size: 100%;
}
body {
  color: $cBlack;
  font-size: 0.9rem;
  line-height: 1.7;
}
a {
  color: $cBlack;
  text-decoration: none;
}
img {
  max-width: 100%;
}
li {
  list-style: none;
}
.site-title {
  line-height: 1px;
  
  & a {
    display: block;
  }
}
/*-------------------------------------------
ヘッダー
-------------------------------------------*/
.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 20px 40px;
  position: fixed;
  z-index: 10;
  background-color: $cWhite;

  &__navi {
    display: block;
    position: fixed;
    top: 0;
    left: -300px;
    bottom: 0;
    width: 300px;
    color: $cWhite;
    padding: 60px 25px;
    background-color: $cBlack;
    overflow-x: hidden;
    overflow-y: auto;
    transition: all .5s;
    z-index: 20;
    opacity: 0;
    
    & a {
      color: $cWhite;
    }

    .open & {
      left: 0;
      opacity: 1;
    }
  }

  &__menu {
    margin-bottom: 60px;
    border-top: solid 1px $cWhite;

    & li {
      position: relative;
      margin: 0;
      padding: 20px 0;
      border-bottom: solid 1px $cWhite;
    }
  }

  &__sns {
    & li {
      padding: 5px 0;
    }
  }

}