@charset "UTF-8";
/******************************************************************

Stylesheet: ベーススタイル

******************************************************************/
/*
共通クラス
*/
html {
  font-size: 100%;
}

body {
  color: #121212;
  font-size: 0.9rem;
  line-height: 1.7;
}

a {
  color: #121212;
  text-decoration: none;
}

img {
  max-width: 100%;
}

li {
  list-style: none;
}

.site-title {
  line-height: 1px;
}

.site-title a {
  display: block;
}

.sec-title {
  font-size: 2.25rem;
  margin-bottom: 30px;
  text-align: center;
}

/*-------------------------------------------
ヘッダー
-------------------------------------------*/
.header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px 40px;
  position: fixed;
  z-index: 10;
  background-color: #fff;
}

.header__navi {
  display: block;
  position: fixed;
  top: 0;
  left: -300px;
  bottom: 0;
  width: 300px;
  color: #fff;
  padding: 60px 25px;
  background-color: #121212;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-transition: all .5s;
  transition: all .5s;
  z-index: 20;
  opacity: 0;
}

.header__navi a {
  color: #fff;
}

.open .header__navi {
  left: 0;
  opacity: 1;
}

.header__menu {
  margin-bottom: 60px;
  border-top: solid 1px #fff;
}

.header__menu li {
  position: relative;
  margin: 0;
  padding: 20px 0;
  border-bottom: solid 1px #fff;
}

.header__sns li {
  padding: 5px 0;
}

.header__btn {
  display: block;
  position: fixed;
  top: 25px;
  right: 45px;
  width: 30px;
  height: 30px;
  -webkit-transition: all .5s;
  transition: all .5s;
  cursor: pointer;
  z-index: 20;
}

.header__btn span {
  display: block;
  position: absolute;
  left: 0;
  width: 30px;
  height: 2px;
  background-color: #333;
  border-radius: 4px;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.header__btn span:nth-child(1) {
  top: 4px;
}

.header__btn span:nth-child(2) {
  top: 14px;
}

.header__btn span:nth-child(3) {
  bottom: 4px;
}

.open .header__btn span {
  background-color: #fff;
}

.open .header__btn span:nth-child(1) {
  -webkit-transform: translateY(10px) rotate(-315deg);
          transform: translateY(10px) rotate(-315deg);
}

.open .header__btn span:nth-child(2) {
  opacity: 0;
}

.open .header__btn span:nth-child(3) {
  -webkit-transform: translateY(-10px) rotate(315deg);
          transform: translateY(-10px) rotate(315deg);
}

#mask {
  display: none;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.open #mask {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: .8;
  z-index: 10;
  cursor: pointer;
}

/*-------------------------------------------
Main
-------------------------------------------*/
.main {
  padding-top: 80px;
}

/*-------------------------------------------
Video
-------------------------------------------*/
.video__bg {
  width: 100%;
}

/*-------------------------------------------
Pickup
-------------------------------------------*/
.pickup {
  width: 100%;
  padding: 100px 0 50px 0;
}

.pickup__list {
  font-size: 0;
}

.pickup__list li {
  padding: 0 30px;
}

/*-------------------------------------------
Feature
-------------------------------------------*/
.feature {
  max-width: 1240px;
  padding: 100px 16px 50px 16px;
  margin: -50px auto 10px auto;
}

.feature__grid {
  display: -ms-grid;
  display: grid;
  gap: 26px;
  -ms-grid-columns: (minmax(300px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.feature__item {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-box-shadow: 0 0 8px 4px #ccc;
          box-shadow: 0 0 8px 4px #ccc;
}

.feature__img {
  vertical-align: top;
}

.feature__content {
  padding: 30px;
}

.feature__category {
  font-size: 0.75rem;
  margin-bottom: 20px;
}

.feature__text {
  font-weight: bold;
  margin-bottom: 20px;
}

.feature__date {
  font-size: 0.75rem;
  text-align: right;
}

@media (max-width: 600px) {
  /******************************************************************

  Stylesheet: 600px以下のモニタで適用

  ******************************************************************/
}
/*# sourceMappingURL=style.css.map */